.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);
  background: var(--bg-tertiary);
  color: var(--text-primary);
  border: 1px solid var(--border);
  cursor: pointer;
  z-index: 50;
}

.toggle:hover {
  background: var(--bg-secondary);
  border-color: var(--text-primary);
}
